<header class="wrapper">
  <div class="hero hero--contact">
  <!-- <picture>
    <source srcset="img/hero_1200.jpg" media="(max-width: 48em)">
    <source srcset="img/hero.jpg" media="(max-width: 112.5em)">
    <img class="hero__image" src="img/hero.jpg" alt="">
  </picture> -->
</div>

</header>

<div class="wrapper">
<main>
  <section id="contact" class="container section section--contact">
    <h2 class="header-2">kontakt</h2>
    <div class="row">
      
      <p class="paragraph">
        Kde nas najdete?
      </p>

      <p class="paragraph">
        Plzen<br>
        UMU design shop<br>
        Presslova 14 (DEPO 2015)<br>
      </p>

      <p class="paragraph">
        Praha<br>
        Botanika store<br>
        Konevova<br>
      </p>

      <p class="paragraph">
        Skakalpes<br>
        Rybalkova 296/7<br>
      </p>

      <div class="social-container--contact">
        {% include '_includes/_social_btns.html' %}
      </div>

    </div>
  </section>
</main>
    
    


    