<header class="wrapper">
  <div class="hero hero--contact">
  <!-- <picture>
    <source srcset="img/hero_1200.jpg" media="(max-width: 48em)">
    <source srcset="img/hero.jpg" media="(max-width: 112.5em)">
    <img class="hero__image" src="img/hero.jpg" alt="">
  </picture> -->
</div>

</header>

<div class="wrapper">
<main>
  <section id="about" class="container section section--contact">
    <h2 class="header-2">kontakt</h2>
    <div class="row">
      
      <p class="paragraph">
        Kde nas najdete?
      </p>

      <p class="paragraph">
        Plzen<br>
        UMU design shop<br>
        Presslova 14 (DEPO 2015)<br>
      </p>

      <p class="paragraph">
        Praha<br>
        Botanika store<br>
        Konevova<br>
      </p>

      <p class="paragraph">
        Skakalpes<br>
        Rybalkova 296/7<br>
      </p>

      <a href="#" class="social__link">
        <div class="social__btn social__btn--fb">
          <i class="fa fa-facebook social__icon" aria-hidden="true"></i>
        </div>
      </a>
      
      <a href="#" class="social__link">
        <div class="social__btn">
          <i class="social__text fa fa-instagram social__icon" aria-hidden="true"></i>
        </div>
      </a>

      
    </div>
  </section>
</main>
    
    


    