

    <footer>
      <div class="flower-pot flower-pot--contact">
        <img class="art art__kok1 art__kok1--contact" src="./img/kokedama1.png" srcset="./img/kokedama1.svg" alt="hand drawn image of a kokedama">
        <img class="art art__paro art__paro--contact" src="./img/paroznatka.png" alt="">
        <img class="art art__duz" src="./img/duznatka.png" alt="">
        <img class="art art__kok2 art__kok2--contact" src="./img/kok2.png" alt="hand drawn image of a kokedama">
      </div>

      <div class="social__container social__container--home">
        <div class="social social--contact">

          <div class="terms terms--home">
            <a class="terms__link" href="#">obchodní podmínky</a>
          </div>

            <a href="#" class="social__link">
              <div class="social__btn social__btn--fb">
                <i class="fa fa-facebook social__icon" aria-hidden="true"></i>
              </div>
            </a>
            
            <a href="#" class="social__link">
              <div class="social__btn">
                <i class="social__text fa fa-instagram social__icon" aria-hidden="true"></i>
              </div>
            </a>
          </div>
        </div>
    </footer>

  </div> <!-- end wrapper -->


    <!-- Include custom javaScript -->
    <script src="js/scripts.js"></script>
  </body>
</html>
