

    <footer>
      <div class="flower-pot">
        <img class="art art__kok1" src="./img/kokedama1.png" srcset="./img/kokedama1.svg" alt="hand drawn image of a kokedama">
        <img class="art art__paro" src="./img/paroznatka.png" alt="">
        <img class="art art__duz" src="./img/duznatka.png" alt="">
        <img class="art art__kok2 art__kok2--home" src="./img/kok2.png" alt="hand drawn image of a kokedama">

        <div class="social-container--home">
          {% include '_includes/_social_btns.html' %}
        </div>

      </div> <!-- end flower-pot -->
    
    </footer>
  </div> <!-- end wrapper -->


    <!-- Include custom javaScript -->
    <script src="js/scripts.js"></script>
  </body>
</html>
