

    <footer>
      <div class="row">
        
        <div class="col-1-of-2">

          
          <div class="flower-pot">
            <img class="art art--kok1" src="./img/kokedama1.png" srcset="./img/kokedama1.svg" alt="hand drawn image of a kokedama">
          </div>
          <div class="flower-pot">
            <img class="art art--paro" src="./img/paroznatka.png" alt="">
          </div>

          
        </div>

        <div class="col-1-of-2">

          <div class="social__container">
          <div class="social social--home">
              <a href="#" class="social__link">
                <div class="social__btn">
                  <i class="fa fa-facebook social__icon" aria-hidden="true"></i>
                </div>
              </a>
              
              <a href="#" class="social__link">
                <div class="social__btn">
                  <i class="social__text fa fa-instagram social__icon" aria-hidden="true"></i>
                </div>
              </a>
            </div>
          </div>

          <img class="art art--duz" src="./img/duznatka.png" alt="">
            
        </div>
      </div>

        

      
    </footer>

  </div> <!-- end wrapper -->


    <!-- Include custom javaScript -->
    <script src="js/scripts.js"></script>
  </body>
</html>
