<header class="wrapper">
  <div class="hero hero--home">
  <!-- <picture>
    <source srcset="img/hero_1200.jpg" media="(max-width: 48em)">
    <source srcset="img/hero.jpg" media="(max-width: 112.5em)">
    <img class="hero__image" src="img/hero.jpg" alt="">
  </picture> -->
</div>

</header>

<div class="wrapper">
<main>
  <section id="about" class="container section section-about">
    <h2 class="header-2">o nás</h2>
    <div class="row">
      <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis voluptas magnam, consequuntur quasi ex praesentium perferendis, voluptatem ratione sapiente aut cum sint, in eius incidunt distinctio id minima! Rerum, eum!</p>
      
      <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus eaque doloribus, sapiente architecto laudantium a tempora natus iure dolore facilis quas repellat.</p>
      
      <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At commodi fuga modi officia repellat cum beatae?</p>

      <a href="./shop.html" class="btn"><span class="btn__text">e-shop</span></a>
    </div>
  </section>
</main>
    
    


    