<div class="hero hero--workshop"></div>

<div class="wrapper">
  <section class="section section-workshop">
    <div class="container">

      <div class="row">
        <h2 class="header-2">workshopy</h2>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div class="img-card">
            <div class="img-box">
              <img src="img/workshop_1_g.jpg" alt="Hand holding a kokedama" class="img">
            </div>
            <div class="img__background"></div>
          </div>
        </div> <!-- end col -->

        <div class="col-1-of-2">
          <div class="order-card">
            <h3 class="order-card__header header-3">kokedamí workshop</h3>
            <form action="" class="order-card__form">
              <label for="price" class="order-card__price">500 kč / 1 osoba</label><br>
              <input placeholder="please enter a value" type="text" id="price" class="order-card__input order-card__input--price">
              <label for="price" class="order-card__amount">počet</label>
              <input placeholder="please enter a value" type="text" id="amount" class="order-card__input order-card__input--amount">
              <button type="submit" class="order-card__submit">přidat do košíku</button>
            </form>
          </div> <!-- end order-card -->
        </div> <!-- end col -->
      </div> <!-- end row -->


      <!-- Workshop description -->
      <div class="row">
        <div class="col-1-of-3">
          <p class="paragraph">
            Co se naučite?<br>
            Jak si vyrobit a jak se starat o kokedamku.
          </p>
          <p class="paragraph">V cene je:
            <ul>
              <li>celodenní workshop 7,5 h</li>
              <li>2x 1,15 h jóga</li>
              <li>ochutnávka čaju</li>
              <li>rostlinka a materiál potrebny k vyrobe a povesení<br>
              kokedamky + návod na udrzbu</li>
            </ul>
          </p>
        </div>
      </div>


      <div class="row">
        <div class="col-1-of-2">
          <div class="img-card">
            <div class="img-box">
              <img src="img/workshop_1_g.jpg" alt="Hand holding a kokedama" class="img">
            </div>
            <div class="img__background img__background--ws-2"></div>
          </div>
        </div> <!-- end col -->

        <div class="col-1-of-2">
          <div class="order-card">
            <h3 class="order-card__header header-3">zážitkovy workshop</h3>
            <form action="" class="order-card__form">
              <label for="price" class="order-card__price">500 kč / 1 osoba</label><br>
              <input placeholder="please enter a value" type="text" id="price" class="order-card__input order-card__input--price">
              <label for="price" class="order-card__amount">počet</label>
              <input placeholder="please enter a value" type="text" id="amount" class="order-card__input order-card__input--amount">
              <button type="submit" class="order-card__submit">přidat do košíku</button>
            </form>
          </div> <!-- end order-card -->
        </div> <!-- end col -->
      </div> <!-- end row -->

      <!-- Workshop description -->
      <div class="row">
        <div class="col-1-of-3">
          <p class="paragraph">
            Co se naučite?<br>
            Jak si vyrobit a jak se starat o kokedamku.
          </p>
          <p class="paragraph">V cene je:
            <ul>
              <li>celodenní workshop 7,5 h</li>
              <li>2x 1,15 h jóga</li>
              <li>ochutnávka čaju</li>
              <li>rostlinka a materiál potrebny k vyrobe a povesení<br>
              kokedamky + návod na udrzbu</li>
            </ul>
          </p>
        </div>
      </div>
      
    </div> <!-- end container -->

    
  </section>