.terms-container {
  position: absolute;
  right: 33rem; 
  bottom: 3.8rem;
  font-size: $font-size-default;
  font-weight: 700;

  @include media(small) {
    position:relative;
    width: 200px;
    margin: 0 auto;
    font-size: 2.5rem;
    right: auto;
    text-align: center;
  }
}

.terms {
  &__link,
  &__link:link,
  &__link:active {
    display: inline-block;
    text-decoration: none;
    color: $color-text-primary;
    font-weight: 700;
    transition: all .4s ease-in-out;
    padding-top: .5rem;
    padding-bottom: .5rem;

    &:hover {
      text-shadow: 0 1rem 2rem rgba(0,0,0, 0.4);
      transform: translateY(-.3rem);
    }
  }
}