.navigation {

}

.nav {  
  padding-top: 4vh;
  padding-bottom: 1rem;

  &__checkbox {
    display: none;
  }

  &__brand {
    display: inline-block;
    position: relative;
    height: 30vh;
    padding-left: 8rem;

  }

  &__logo {
    position: absolute;
    top: -.6rem;
    height: 80%;
    transition: all .4s ease-in-out;

    &:hover {
      transform: scale(1.04);
    }
  }

  &__link,
  &__link:link,
  &__link:active {

    display: inline-block;
    text-decoration: none;
    color: $color-text-primary;
    font-weight: 700;
    transition: all .4s ease-in-out;
    padding-top: .5rem;
    padding-bottom: .5rem;

    &:hover {
      text-shadow: 0 1rem 2rem rgba(0,0,0, 0.4);
      transform: translateY(-.3rem);
    }
  }

  &__list {
    float: right;
    margin-top: 11rem;
    padding-right: 8rem;
  }

  &__list &__item {
    list-style: none;
    display: inline-block;
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    
    &:not(:last-child) {
      padding-right: 4rem;
    }
  }

  @include media(medium) {
    padding-bottom: 1rem;

    &__list &__link {
      font-size: 2.4rem;
      letter-spacing: 2px;
    }
  }

  @include media(small-medium) {

    &__brand {
      padding-left: 2rem;
    }
    
    &__list {
      padding-right: 2rem;
      padding-top: .6rem;
    }

    &__list &__item {
      &:not(:last-child) {
      padding-right: 3rem;
    }
    }

    &__list &__link {
      font-size: 2.2rem;
      letter-spacing: 1px;
    }

  }

  @include media(small) {

    &__brand {
      height: 16rem;
    }

    &__logo {
      
    }

    &__list {
      display: none;
    }

    &__background {
      height: 7rem;
      width: 7rem;
      position: fixed;
      top: 2rem;
      right: 2rem;
      z-index: -100;
      padding: 12px 42px;
      transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
      background: $color-bg;
      opacity: .6;
    }

    &__button {
      height: 7rem;
      width: 7rem;
      position: fixed;
      top: 2rem;
      right: 2rem;
      box-shadow: 0 1rem 2rem rgba($color-black, .3);
      text-align: center;
      padding: 10px 40px;
      z-index: 20;
      border: 2px solid $color-text-primary;
      // background: $color-text-primary;
    }

    &__icon {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 90;
      &,
      &::before,
      &::after {
        height: 3px;
        width: 3rem;
        background-color: $color-text-primary;
        display: inline-block;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        transition: all .4s ease-in-out;

      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
      }

      &::before { top: -.8rem; }
      &::after { top: .8rem; }
    }


    // Expand menu
    // Use checkbox hack with additional js support
    &__checkbox:checked ~ &__button > &__background {
      background: $color-text-primary;
      opacity: 1;
      transform: scale(80);
      z-index: -100;
    }


    // Animate icon on click
    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon:before {
      background-color: $color-bg;
      top: 0;
      transform: rotate(135deg); // 180 - 45
    }

    &__checkbox:checked + &__button &__icon:after {
      background-color: $color-bg;
      top: 0;
      transform: rotate(-135deg);
    }

    &__checkbox:checked ~ &__list {
      top: 21rem;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      position: fixed;
      width: 80%;
      z-index: 80;
      text-align: center;
    }

    &__checkbox:checked ~ &__list &__item {
      color: $color-bg;
      display: block;
      padding-right: 0;
    }

    &__checkbox:checked ~ &__list &__link {
      color: $color-bg;
      padding: 2rem 1rem;
    }
    
    // &__checkbox:checked ~ &__list &__link:before {
    //   content: '';
    //   height: 5.6rem;
    //   width: 5.6rem;
    //   display: inline-block;
    //   background-image: url('../img/logo_white.png');
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   background-position: center 1.12rem;
    //   z-index: 90;

    // }
  }

}

